backend:
  name: git-gateway
  branch: main

site_url: https://danielreyna.com
logo_url: https://danielreyna.com/logo.png

# opcional: flujo con borradores y revisiones
publish_mode: editorial_workflow

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Fecha", name: "date", widget: "datetime" }
      - { label: "Descripción (SEO)", name: "description", widget: "string", required: false }
      - { label: "Contenido", name: "body", widget: "markdown" }